body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: 100px 0px;

}
h1{
    font-size: 50px;
}
.font{
    font-size: 25px;
}
.block-one{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.block-one img{
    width: 90%;
}
.top-banner{
    background-image: url(Images/top-banner.png);
    height: 500px;
    background-repeat: no-repeat;
}
.block-two{
    background-image: url(Images/dream-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
}
.button{
    background-image: linear-gradient(45deg, orange,tomato);
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;

}
.block-last{

    width: 100%;
    float: left;
}
.last-part{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.single-epreience{
    box-shadow: 10px 10px 40px gray;
    height: 90%;

    
}
.block-last{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#color-add{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
#second-add{
    border-left: 7px solid;
    border-image: linear-gradient(blue,rgb(71, 135, 255));
    border-image-slice: 1;
}
footer h2{
    width: 40%;
    height: 30%;
    text-align: center;
    font-size: 15px;
}
footer:hover{
    color: blue;
    text-align: center;
}
